@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.mdi-spin {
    animation: spin 0.6s infinite ease-in-out;
}

.mdi-spin-constant {
    animation: spin 0.6s infinite linear;
}

body {
    margin:0;
    background: #efeffa;
}